body {
    background-color: rgb(14, 14, 14);
    font-family: Arial, Helvetica, sans-serif;
}

#fukk-container {
    font-family: monospace;
    white-space: pre;
    overflow: auto;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #292929;
    color: #ffffff;
}

.user-input {
    margin-top: 10px;
    padding: 5px;
    background-color: #292929;
    color: #ffffff;
    border: 1px solid #ccc;
}